
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DISH MANAGEMENT</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Naccl/blog-resource/github-badge.min.css">
</head>
<body class="site">

<!--Navigation-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>
<div class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" th:href="@{/admin/foods}" class="item">DISH LIST</a>
      <a href="#" th:href="@{/admin/foods/input}" class="teal active item">ADD DISH</a>
    </div>
  </div>
</div>

<div class="site-content">
  <!--Middle Content-->
  <div class="m-container-small m-padded-tb-big">
    <div class="ui container">

      <!-- Form for editing or adding a dish -->
      <form action="#" method="post" th:object="${food}" th:action="@{/admin/foods}" class="ui form">

        <input type="hidden" name="id" th:value="*{id}">

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Name</label>
            <input type="text" name="name" placeholder="Dish name" th:value="*{name}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Feature</label>
            <input type="text" name="feature" placeholder="Dish feature" th:value="*{feature}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Material</label>
            <input type="text" name="material" placeholder="Dish material" th:value="*{material}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Price</label>
            <input type="text" name="price" placeholder="Dish price" th:value="*{price}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">State</label>
            <input type="text" name="state" placeholder="Dish state" th:value="*{state}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled action input">
            <label class="ui compact teal basic label">Type</label>
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
              <i class="dropdown icon"></i>
              <div class="default text">Dish type</div>
              <div class="menu">
                <div th:each="type:${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">Error Log</div>
              </div>
            </div>
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input" style="width: 400px">
            <label class="ui teal basic label">Picture</label>
            <input type="file" name="picture" placeholder="Dish picture" th:value="*{picture}" id="imageInput" width="200px">
            <span onclick="uploadImage()" style="border: 1px solid black;text-align: center">Upload Picture</span>
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled action input">
            <label class="ui compact teal basic label">State</label>
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="state" th:value="*{state}">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="food shelf">food shelf</div>
                <div class="item" data-value="off shelves">off shelves</div>
                <div class="item" data-value="sold out">sold out</div>
              </div>
            </div>
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Seasoning</label>
            <input type="text" name="seasoning" placeholder="Seasoning" th:value="*{seasoning}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Size</label>
            <input type="text

" name="size" placeholder="Size, e.g., large, medium, small" th:value="*{size}">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">Comment</label>
            <input type="text" name="comment" placeholder="An integer represents the price of the special dish, 0 represents chef's recommendation, -1 represents a normal dish" th:value="*{comment}">
          </div>
        </div>

        <!-- Form validation prompt -->
        <div class="ui error message"></div>

        <!-- Backend validation error prompt -->
        <!--/*/
        <div class="ui negative message" th:if="${#fields.hasErrors('*')}"  >
          <i class="close icon"></i>
          <div class="header">Error</div>
          <p th:each="err:${#fields.errors('*')}" th:text="${err}">Submitted information does not meet the rules</p>
        </div>
        /*/-->

        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
          <button class="ui teal submit button">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!--Footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: myScript">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>

  function uploadImage() {
    var fileInput = document.getElementById('imageInput');
    var file = fileInput.files[0];

    var formData = new FormData();
    formData.append('file', file);

    fetch('/upload', {
      method: 'POST',
      body: formData
    })
            .then(response => response.text())
            .then(result => {
              if (result === 'Upload Successful') {
                console.log("Upload Successful")
                alert("Image uploaded successfully");
              } else {
                console.log('Upload failed');
              }
            })
            .catch(error => console.error('Error:', error));
  }

  $('.message .close').on('click', function () {
    $(this).closest('.message').transition('fade');
  });

  $('.submit').click(function () {
    $('.negative.message').hide();
  });

  $('.ui.dropdown').dropdown({
    on: 'click'
  });

  $('.ui.form').form({
    fields: {
      name: {
        identifier: 'name',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish name'
        }]
      },
      feature: {
        identifier: 'feature',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish feature'
        }]
      },
      material: {
        identifier: 'material',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish material'
        }]
      },
      price: {
        identifier: 'price',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish price'
        }]
      },
      typeId: {
        identifier: 'type.id',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish type'
        }]
      },
      picture: {
        identifier: 'picture',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish picture'
        }]
      },
      state: {
        identifier: 'state',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish state'
        }]
      },
      seasoning: {
        identifier: 'seasoning',
        rules: [{
          type: 'empty',
          prompt: 'Please enter seasoning'
        }]
      },
      size: {
        identifier: 'size',
        rules: [{
          type: 'empty',
          prompt: 'Please enter size, e.g., large, medium, small'
        }]
      },
      comment: {
        identifier: 'comment',
        rules: [{
          type: 'empty',
          prompt: 'Please enter dish comment'
        }]
      },

    }
  });
</script>
</body>
</html>