<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View user orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Naccl/blog-resource/github-badge.min.css">
</head>
<body class="site">

<!--Navigation-->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="site-content">

    <!--Portlet Main Content-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">

            <!-- Displayed if message is not empty-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">prompt：</div>
                <p th:text="${message}">operate successfully</p>
            </div>
            <!-- search -->
            <div class="ui secondary segment form">
                <!-- Used for previous page next page transfer page -->
                <input type="hidden" name="page">

                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="ordCode" placeholder="Please enter the order number">
                        <!--                      <div class="ui labeled action input">-->
                        <!--                          <div class="ui type selection dropdown">-->
                        <!--                              <input type="hidden" name="typeId" value="0">-->

                        <!--                              <i class="dropdown icon"></i>-->
                        <!--                              <div class="default text">全部</div>-->
                        <!--                              <div class="menu">-->
                        <!--                                  <div class="item" data-value="0">全部</div>-->
                        <!--                                  <div class="item" data-value="1" th:each="type:${types}" th:data-value="${type.id}" th:text="${type.name}">全部</div>-->
                        <!--                              </div>-->
                        <!--                          </div>-->
                        <!--                      </div>-->
                    </div>

                    <div class="field">
                        <button type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>search</button>
                    </div>
                </div>
            </div>

            <dev id="table-container" th:fragment="orderList">
                <table class="ui teal table m-text" style="text-align:center;">
                    <thead>
                    <!--          <th colspan="2"><h1 class="ui header" align="center" th:text="${item.key.username}">user1</h1></th>-->
                    <tr>
                        <!--            <th>username</th>-->
                        <!--            <th>dish name</th>-->
                        <th>USER NAME</th>
                        <th>PHONE</th><!--user telephone-->
                        <th>DISH NAME</th>
                        <th>ORDER CODE</th><!--order number-->
                        <th>CREAT TIME</th><!--order time-->
                        <th>STATE</th>
                        <th>APPRAISE</th>
                        <th>OPERATE</th>
                    </tr>
                    </thead>


                    </tbody>
                    <tbody>
                    <tr th:each="item : ${orderMap}">
                        <td th:text="${item[0]}"></td> <!-- The first field is the user name -->
                        <td th:text="${item[1]}"></td> <!-- User tel -->
                        <td th:text="${item[2]}"></td> <!-- The second field is the dish name -->
                        <td th:text="${item[3]}"></td> <!-- order number -->
                        <td th:text="${item[4]}"></td> <!-- order time -->
                        <td th:text="${item[5]}"></td> <!-- The second field is the order status -->
                        <td th:text="${item[6]}"></td> <!-- dish review -->
                        <td style="padding:5px">
                            <a onclick="del(this)" th:data-href="@{/admin/orders/deleteByCode(ordCode=${item[3]})}" class="ui mini red basic button" style="padding:8px 10px">delete</a>
                            <a th:if="${item[5] == 'PENDING'}" onclick="update(this)" th:data-href="@{/admin/orders/updateByCode(ordCode=${item[3]})}" class="ui mini red basic button" style="padding:8px 10px">accept</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dev>
        </div>
    </div>
    <!-- 确认框 -->
    <div class="ui basic modal">
        <div class="ui icon header"><i class="trash alternate outline icon"></i>delete</div>
        <div class="content"><h1>Are you sure you want to delete this order?</h1></div>
        <div class="actions">
            <div class="ui basic cancel inverted button"><i class="remove icon"></i>cancel</div>
            <div id="ok" class="ui red ok inverted button"><i class="checkmark icon"></i>delete</div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: myScript">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    var ordCode = "";
    var url;
    $("#search-btn").click(function () {
        ordCode = $("[name='ordCode']").val();
        loadData();
    });

    function loadData() {
        $("#table-container").load(/*[[@{/search}]]*/"/admin/orders/search", {
            ordCode: ordCode
        });
    }
    function del(obj){
        url = $(obj).attr('data-href');
        $('.ui.basic.modal').modal('show');
    }
    $('#ok').click(function () {
        window.location.href = url;
    });
    function update(obj){
        url = $(obj).attr('data-href');
        // $('.ui.basic.modal').modal('show');
    }
    $('#ok').click(function () {
        window.location.href = url;
    });

</script>
</body>
</html>