<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="user/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOODLIST</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Naccl/blog-resource/github-badge.min.css">
</head>
<body class="site">

<!-- Navigation -->
<nav th:replace="user/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="site-content">
    <!-- Middle content -->
    <div class="m-padded-tb-big">
        <div class="ui container user">

            <!-- Display message when not empty -->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">Prompt:</div>
                <p th:text="${message}">Operation successful!</p>
            </div>

            <!-- Search form -->
            <div class="ui secondary segment form">
                <!-- Used for passing page for previous and next -->
                <input type="hidden" name="page">

                <div class="inline fields">

                    <div class="field">
                        <input type="text" name="name" placeholder="Please enter dish name">
                    </div>

                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="typeId" value="0">

                                <i class="dropdown icon"></i>
                                <div class="default text">All</div>
                                <div class="menu">
                                    <div class="item" data-value="0">All</div>
                                    <div class="item" data-value="1" th:each="type:${types}" th:data-value="${type.id}" th:text="${type.name}">All</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <button type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>Search</button>
                    </div>

                </div>
            </div>

            <div id="table-container" th:fragment="foodList">
                <table class="ui celled teal table m-text" style="text-align:center;">
                    <thead>
                    <th colspan="10"><h1 class="ui header" align="center">DISH LIST</h1></th>
                    <tr>
                        <th>NUMBER</th>
                        <th>IMAGE</th>
                        <th>DISH NAME</th>
                        <th>FEATURES</th>
                        <th>INGREDIENTS</th>
                        <th>PRICE: YUAN</th>
                        <th>TYPE</th>

                        <th>ORDER RATE: TIMES</th>
                        <th>REMARKS</th>
                        <th>SELECT</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="food,iterStat : ${page.content}" >
                        <td th:text="${iterStat.count}">1</td>
                        <td><img src="../../static/images2/jiachang/01.jpg" th:src="@{${food.picture}}" style="width: 150px;"></td>
                        <td th:text="${food.name}" width="100px;" th:data-href="@{/detail/{id}(id=${food.id})}" style="cursor:pointer" onclick="window.location.href=this.getAttribute('data-href')">Leek Stir-Fried with Eggs</td>
                        <td th:text="${food.feature}">Technique: Stir-fry Flavor: Fragrant</td>
                        <td th:text="${food.material}">Main Ingredient: 4 oz leeks (about 160 grams)</td>
                        <td th:text="${food.price}">8</td>
                        <td th:text="${food.type.name}" width="70px;">Home-cooked</td>

                        <td th:text="${food.hits}">2</td>
                        <td th:switch="${food.comment}">
                            <th:block th:case="-1">Popular dishes</th:block>
                            <th:block th:case="0">Chef's recommendation</th:block>
                            <th:block th:case="*">Today's special</th:block>
                        </td>
                        <td width="150px;">

                            <!--                <a onclick="add(this)" th:data-id="${food.id}" class="ui teal basic add button"-->
                            <!--                                   th:classappend="${#lists.contains(foods, food)} ? 'disabled'"-->
                            <!--                th:text="${#lists.contains(foods, food)} ? 'update' : 'add cart'">-->
                            <!--                  Add to Cart</a>-->

                            <a onclick="handleCartAction(this)" th:data-id="${food.id}" th:data-in-cart="${#lists.contains(foods, food)}" th:data-cart-id="${food.cartId}" class="ui teal basic button">
                                <span th:text="${#lists.contains(foods, food)} ? 'Update' : 'Add to Cart'">Add to Cart</span>
                            </a>

                        </td>


                        <div id="phoneNumberDropdown" style="display: none;">
                            <label for="phoneNumber">Please select a phone number:</label>
                            <select id="phoneNumber" name="phoneNumber">
                                <option value="">Please select</option>
                                <option value="1234567890">1234567890</option>
                                <option value="9876543210">9876543210</option>
                                <!-- Add more options -->
                            </select>
                            <button onclick="handlePhoneNumber()">Confirm</button>
                            <button onclick="handlePhoneNumber()">Confirm</button>

                        </div>

                    </tr>
                    </tbody>
                </table>

                <!-- Footer -->
                <div class="ui bottom" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned three column grid">
                        <div class="column">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}"
                               class="ui blue inverted labeled icon button">
                                <i class="arrow left icon"></i>Previous</a>
                        </div>
                        <div class="center aligned column">
                            <span class="m-margin-lr-small" th:text="|${page.number+1} / ${page.totalPages}|">2 / 7</span>
                        </div>
                        <div class="right aligned column">
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}"
                               class="ui blue inverted right labeled icon button">
                                Next<i class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<!-- Footer -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
</footer>

<div class="ui mini modal" id="myModal">
    <i class="close icon"></i>
    <div class="header">Choose Dish Specification</div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Quantity</label>
                <input type="number" id="quantity" value="1" min="1">
            </div>
            <div class="field">
                <label>Size</label>
                <select id="size" class="ui dropdown">
                    <option value="Small" selected>Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
            <div class="field">
                <label>Toppings</label>
                <input type="text" id="toppings">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui primary button" onclick="submitData()">Confirm</div>
        <div class="ui button" onclick="$('.ui.modal').modal('hide')">Cancel</div>
    </div>
</div>


<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    $('.ui.dropdown').dropdown({
        on: 'click'
    });

    var typeId = 0;
    var name = '';

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        name = $("[name='name']").val();
        typeId = $("[name='typeId']").val();
        loadData();
    });

    function loadData() {
        $("#table-container").load(/*[[@{/user/index/search}]]*/"/user/index/search", {
            name: name,
            typeId: typeId,
            page: $("[name='page']").val()
        });
    }
    var objId = '';

    function handleCartAction(obj) {
        var isInCart = $(obj).attr('data-in-cart') === 'true';
        var cartId = $(obj).attr('data-cart-id'); // Get the cart ID
        objId = $(obj).attr('data-id');

        if (isInCart) {
            // Logic to handle update
            // Fetch existing cart data
            $.post("/user/getCartDetails", {
                "cartId": cartId
            }, function (result) {
                $('#quantity').val(result.quantity);  // Reset quantity to 1 or default
                $('#size').val(result.size);  // Reset size to 'Small' or default
                $('#toppings').val(result.toppings);  // Clear toppings
            }, "json");
            $('#myModal').data('action', 'update');
            $('#myModal').data('cartId', cartId);
            $('#myModal').modal('show');
        } else {
            // Logic to handle add
            // Clear existing data in modal or set defaults
            $('#quantity').val(1);  // Reset quantity to 1 or default
            $('#size').val('Small');  // Reset size to 'Small' or default
            $('#toppings').val('');  // Clear toppings
            $('#myModal').data('action', 'add');
            $('#myModal').modal('show');
        }
    }

    function submitData() {
        var quantity = $('#quantity').val();
        var size = $('#size').val();
        var toppings = $('#toppings').val();
        var dropdown = document.getElementById("phoneNumberDropdown");
        dropdown.style.display = "block";

        var action = $('#myModal').data('action');
        var actionUrl = (action === 'update') ? '/user/update' : '/user/add';
        if (action == 'update') {
            objId = $('#myModal').data('cartId')
        }
        $.post(actionUrl, {
            "id": objId,
            "quantity": quantity,
            "size": size,
            "toppings": toppings
        }, function (result) {
            if (result.success) {
                $('#myModal').modal('hide');
                alert('Cart updated successfully!');
                location.reload();
                $(obj).addClass('disabled');
            } else {
                alert(result.message);
            }
        }, "json");
    }

    function addV2(obj) {
        console.log(obj)

    }
</script>
</body>
</html>
