<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web ordering system</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Naccl/blog-resource/github-badge.min.css">
</head>

<body class="site">

<!--Navigation-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="site-content m-container-small">

  <!--Middle Content-->
  <div class="m-padded-tb-big">
    <div class="ui container">

      <!--Popular dishes-->
      <center><h1>Popular dishes</h1></center>
      <br>
      <br>
      <div class="ui three stackable cards">
        <div class="card" th:each="common:${common}" th:data-href="@{/detail/{id}(id=${common.id})}" style="cursor:pointer">
          <div class="image">
            <img src="../static/images/jiachang/01.jpg" th:src="@{${common.picture}}">
          </div>
          <div class="content">
            <div class="header" th:text="${common.name}">Sichuan Hot and Sour Noodles</div>
            <div class="meta">
              <span class="price" th:text="${common.price+' ¥'}">¥28</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <center><h1>Today's Special</h1></center>
      <div class="ui three stackable cards m-margin-top-big">
        <div class="card" th:each="special:${special}" th:data-href="@{/detail/{id}(id=${special.id})}" style="cursor:pointer">
          <div class="image">
            <img src="../static/images/jiachang/01.jpg" th:src="@{${special.picture}}">
          </div>
          <div class="content">
            <div class="header" th:text="${special.name}">Sichuan Hot and Sour Noodles</div>
            <div class="meta">
              <span class="price" th:text="${special.price}+' ¥' "></span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <center><h1>Chef's Recommendation</h1></center>
      <div class="ui three stackable cards m-margin-top-big">
        <div class="card" th:each="recommend:${recommend}" th:data-href="@{/detail/{id}(id=${recommend.id})}" style="cursor:pointer">
          <div class="image">
            <img src="../static/images/jiachang/01.jpg" th:src="@{${recommend.picture}}">
          </div>
          <div class="content">
            <div class="header" th:text="${recommend.name}">Sichuan Hot and Sour Noodles</div>
            <div class="meta">
              <span class="price" th:text="${recommend.price+' ¥'}"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<!--Footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
  $('.message .close').on('click', function () {
    $(this).closest('.message').transition('fade');
  });

  $('.card').click(function () {
    var url = $(this).attr('data-href');
    window.open(url);
  });
</script>
</body>

</html>
